BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveBitFields: Consecutive
AlignEscapedNewlines: DontAlign

# AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: None

BinPackArguments: false
BinPackParameters: false

# BreakFunctionDefinitionParameters: true

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

IndentCaseLabels: true
InsertNewlineAtEOF: true

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true

PenaltyReturnTypeOnItsOwnLine: 1000
