# Shared formatting

BasedOnStyle: Microsoft

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
BreakBeforeBraces: Allman
BreakTemplateDeclarations: Yes

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true

InsertNewlineAtEOF: true

# Header formatting

ColumnLimit: 80
AccessModifierOffset: -4
BinPackParameters: false

AlignConsecutiveBitFields: AcrossEmptyLines

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: All

BreakInheritanceList: AfterColon
ConstructorInitializerIndentWidth: 8

PenaltyBreakOpenParenthesis: 0
