BasedOnStyle: Microsoft

AccessModifierOffset: -4
ColumnLimit: 90

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveBitFields: Consecutive
AlignOperands: AlignAfterOperator

AllowShortLambdasOnASingleLine: All

BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
# BreakTemplateDeclarations: Yes

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic

IndentCaseLabels: true
IndentPPDirectives: BeforeHash

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true

InsertNewlineAtEOF: true
